<div class="container">
  <%= form_for(user) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <%= simple_form_for @user do |f| %>
      <%= f.input :username %>
      <%= f.input :email %>
      <%= f.label :birthdate, class:"datepicker" %>
      <%= f.text_field :birthdate, class: "birthdate-picker", placeholder: "Select Date" %>
      <%= f.input :password %>
      <div class="actions">
        <%= f.button :submit %>
      </div>
    <% end %>

  <% end %>
</div>